@import "../../index.scss";

.charts {
  display: flex;
  gap: 2rem;

  @include sm-tab {
    flex-wrap: wrap;
  }

  &__left {
    width: 76%;
    min-height: 33.4rem;
    padding: 2rem;
    background: #ffffff;
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    @include xlg-tab {
      width: 65%;
    }
    @include md-tab {
      // width: 57%;
    }
    @include sm-tab {
      width: 100%;
    }

    &--info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &__title {
        h2 {
          font-weight: 600;
          font-size: 1.8rem;
          color: #171717;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.4rem;
          color: #b9b9b9;
        }
      }

      &__data {
        display: flex;
        align-items: center;
        gap: 5rem;

        p {
          font-weight: 500;
          font-size: 1.2rem;
          letter-spacing: 0.3px;
          text-transform: uppercase;
          color: #b9b9b9;
          margin-bottom: 0.8rem;
        }

        span {
          font-weight: 600;
          font-size: 1.6rem;
          color: #171717;
        }
      }
    }

    &--graph {
      height: 23rem;
      margin-top: 2rem;
    }
  }

  &__right {
    width: 24%;
    // max-width: 268px;
    min-height: 33.4rem;
    background: #990d81;
    border-radius: 1.2rem;
    color: #ffffff;
    padding: 2.3rem 1.6rem;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include xlg-tab {
      width: 35%;
    }
    @include md-tab {
      // width: 43%;
    }
    @include sm-tab {
      width: 100%;
    }

    &--graph {
      height: 20rem;
    }

    &--info {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      h3 {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      p {
        font-size: 1.4rem;
        line-height: 1.9rem;

        span {
          font-weight: 700;
        }
      }
    }
  }
}
