@import "../../index.scss";

.dashboard {
  width: 100%;
  // min-height: 100vh;
  background-color: #e5e5e5;
  transition: $transition;

  &__main {
    width: 100%;
    padding: 4rem 2.5rem 5rem;

    @include lg-lapt {
      padding: 4rem 2.8rem 5rem;
    }
    
    @include xlg-phone {
      padding: 3rem 2.8rem;
    }

    @include md-phone {
      padding: 2.2rem 1.8rem;
    }

    @include sm-phone {
      padding: 1.5rem 1rem;
    }
  }
}
