// Colors
$pink: #990d81;

//transition
$transition: all 300ms ease-in-out;

// Media Querie Break Points
// Phones
$screen-sm-phone: 320px;
$screen-md-phone: 380px;
$screen-lg-phone: 480px;
$screen-xlg-phone: 540px;

// Tablets (portrait to landscape view)
$screen-sm-tab: 768px;
$screen-md-tab: 960px;
$screen-lg-tab: 1024px;
$screen-xlg-tab: 1220px;

//lapton screens
$screen-sm-lapt: 1285px;
$screen-md-lapt: 1366px;
$screen-lg-lapt: 1440px;
$screen-xlg-lapt: 1600px;

// Phone devices
@mixin sm-phone {
  @media (max-width: #{$screen-sm-phone}) {
    @content;
  }
}
@mixin md-phone {
  @media (max-width: #{$screen-md-phone}) {
    @content;
  }
}
@mixin lg-phone {
  @media (max-width: #{$screen-lg-phone}) {
    @content;
  }
}
@mixin xlg-phone {
  @media (max-width: #{$screen-xlg-phone}) {
    @content;
  }
}
// Tablet devices
@mixin sm-tab {
  @media (max-width: #{$screen-sm-tab}) {
    @content;
  }
}
@mixin md-tab {
  @media (max-width: #{$screen-md-tab}) {
    @content;
  }
}
@mixin lg-tab {
  @media (max-width: #{$screen-lg-tab}) {
    @content;
  }
}
@mixin xlg-tab {
  @media (max-width: #{$screen-xlg-tab}) {
    @content;
  }
}
// Laptop devices
@mixin sm-lapt {
  @media (max-width: #{$screen-sm-lapt}) {
    @content;
  }
}
@mixin md-lapt {
  @media (max-width: #{$screen-md-lapt}) {
    @content;
  }
}
@mixin lg-lapt {
  @media (max-width: #{$screen-lg-lapt}) {
    @content;
  }
}
@mixin xlg-lapt {
  @media (max-width: #{$screen-xlg-lapt}) {
    @content;
  }
}

@mixin custom-color($opacity) {
  color: rgba(255, 255, 255, $opacity);
}
@mixin custom-background($opacity) {
  background: rgba(255, 255, 255, $opacity);
}
@mixin custom-active() {
  @include custom-background(0.1);
  border-color:  white;
  // border-right: 3px solid white;
  transition: $transition;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  // @include lg {
  //   font-size: 58%;
  // }
  // @include md {
  //   font-size: 52%;
  // }
  // @include sm {
  //   font-size: 50%;
  // }
}

body {
  font-family: "Inter", sans-serif;
  
}


